v
/synthetic_braille_dataset/
/DSBI-master/src/checkpoints/
Braille.v1i.coco/patched_dataset
Braille.v1i.coco/train
Braille.v1i.coco/train_preprocessed
Braille.v1i.coco/runs

annotation\annotatedFiles
annotation\images
annotation\labels
annotation\sliced
annotation

app/temp
app\__pycache__